<header>
    <h1>Lista de Pagamentos</h1>
</header>
<main>
    {{#each payments}}
    <div class="payment-card">
        <h2>Detalhes do Pagamento</h2>
        <p><strong>Nome:</strong> {{this.nome}}</p>
        <p><strong>E-mail:</strong> {{this.email}}</p>
        <p><strong>Produto:</strong> {{this.name}}</p>
        <p><strong>Preço:</strong> {{this.price}}</p>
        <p><strong>Status:</strong> {{this.status}}</p>
    </div>
    {{/each}}
</main>